<div *ngIf="view ==='choose'" class="center">
  <h1> Choose Difficulty </h1>
  <button (click)="chooseDef(4)">easy</button>
  <button (click)="chooseDef(8)">medium</button>
  <button (click)="chooseDef(16)">hard</button>
</div>
<div *ngIf="view ==='play' && !(wins == boardSize)" class="board">
  <app-card *ngFor="let card of cardArr" [card]="card" (flipEmitter)="handleFlippedCard($event)" class="card"></app-card>
</div>
<div *ngIf="wins == boardSize" class="center">
    <h1>you scored : {{100 - clicks*2}}%</h1>
    <button (click)="reset()">retry</button>
</div>