.board{
    display: flex;
}
.card{
    height: 250px;
}
.center{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
button{
    width: 50px;
}